<form class="form-horizontal" autocomplete="off" #editClinicDetailsForm="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'EditClinicDetails' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="name">
        {{ "Name" | localize }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="name" id="name" maxlength="254" required
          [(ngModel)]="clinicDetails.name" #nameModel="ngModel" #nameEl />
        <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="address">
        {{ "Address" | localize }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="Address" id="Address" [(ngModel)]="clinicDetails.address" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="address">
        {{ "Address" | localize }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="Address" id="Address" [(ngModel)]="clinicDetails.address" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="email">
        {{ "Email" | localize }}
      </label>
      <div class="col-md-9">
        <input type="email" class="form-control" name="Email" id="Email"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" maxlength="256" [(ngModel)]="clinicDetails.email"
          #emailModel="ngModel" #EmailEl />
        <abp-validation-summary [control]="emailModel" [controlEl]="EmailEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="phone">
        {{ "Phone" | localize }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="phone" id="phone" [(ngModel)]="clinicDetails.phone" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="description">
        {{ "Description" | localize }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="description" id="description"
          [(ngModel)]="clinicDetails.description" />
      </div>
    </div>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editClinicDetailsForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>